<html>

<head>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <script src="/static/assets/scirpt/jquery.min.js"></script>
    <script src="/static/assets/scirpt/popper.min.js"></script>
    <script src="/static/assets/scirpt/bootstrap.min.js"></script>


</head>

<body style="margin-top:20%;background-image: url(/static/assets/images/emp1.jpg)">
    <nav class="navbar justify-content-center">
        <div>
            <h1><b><i>Employee Management</i></b></h1>
        </div>
    </nav>
    <div class="nav-item " style="font-size:25px;font-style:oblique;margin-top:0%;padding-left: 40%;">
        <div class="row">
            <a class="nav-link" href="/home" data-toggle="tooltip" style="color:black" title="Home"><i
                class="fa fa-home fa-md">Home</i></a>
            <a class="nav-link" href="/add" data-toggle="tooltip" style="color:black;padding-left: 20px;" title="Add"><i
                class="fa fa-plus fa-md">Add</i></a>

        </div>


        <div class="row">
            <a class="nav-link" href="/search" data-toggle="tooltip" style="color:black;" title="Search"><i
                class="fa fa-search fa-md">Search</i></a>
            <a class="nav-link" href="/show" data-toggle="tooltip" style="color:black;padding-left: 20px;" title="Show"><i
                class="fa fa-table fa-md">Show</i></a>
        </div>

        <div class="row">
            <a class="nav-link" href="/upload" data-toggle="tooltip" style="color:black;" title="Upload"><i
                class="fa fa-upload fa-md">Upload</i></a>
            <a class="nav-link" href="/chart" data-toggle="tooltip" style="color:black;padding-left: 16px;" title="Chart"><i
                class="fa fa-bar-chart fa-md">Chart</i></a>
        </div>

    </div>



</body>

</html>