<html>

<head>
    <title>Upload File</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <script src="/static/assets/scirpt/jquery.min.js"></script>
    <script src="/static/assets/scirpt/popper.min.js"></script>
    <script src="/static/assets/scirpt/bootstrap.min.js"></script>

</head>
<style>
    .topic {
        font-size: 35px;
        text-shadow: 3px 3px 5px gray;
        color: black;
        margin-top: 100px;
    }
    
    .content {
        width: 70%;
        color: black;
        text-shadow: 2px 2px 3px gray;
        padding-left: 35%;
        font-size: 20px;
    }
    
    .head {
        font-size: 35px;
        text-shadow: 3px 3px 5px gray;
        color: black;
        float: left;
    }
</style>

</head>

<body style="background-image: url(/static/assets/images/emp1.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 head">
                <h1><b><i>EMPLOYEE MANAGEMENT</i></b></h1>
            </div>
            <div class="col-md-4">

                <a href="/home" data-toggle="tooltip" style="float:right;color:black" title="HOME"><i
                    class="fa fa-home fa-lg"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 topic">
                <h1><i>Upload File</i></h1>
            </div>
        </div>



        <div class="container-fluid">



            <div style="font-size: 25px;">
                <div>
                    <form method="post" class="row" enctype="multipart/form-data">

                        {% csrf_token %}
                        <input style="width:27%;" type="file" title="Upload excel file" name="excel_file">

                        <button type="submit" class="btn btn-success ">Submit</button>
                    </form>
                    {% for row in excel_data %} {% for cell in row %} {{ cell }}&nbsp;&nbsp; {% endfor %}
                    <br> {% endfor %}
                </div>

                <script>
                    $(".custom-file-input").on("change", function() {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>

            </div>
        </div>
    </div>

</body>

</html>